:root {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color-scheme: light dark;
  color: var(--night-black);
  background-color: var(--whisper-gray);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --whisper-gray: #ebf1e5;
  --slate-dark: #696b66;
  --night-black: #2a2a2a;
  --rose-red: #f08787;
  --forest-green: #84994f;
}

/* a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
